body {
  background: #d6d6d6 !important;
}

#appwindow {
  position: relative;
  width: 820px;
  height: 822px;
  background-image: url(../images/pdfletterheadbg.png);
  background-repeat: no-repeat;
  background-size: 100% 100%;
}

#download_buttons {
  padding-left:200px;
}

#coverswitch{
  position: absolute;
  top: 83px;
  left: 130px;
  height: 24px;
  width: 120px;
}

#proupgrade{
  position: absolute;
  top: 679px;
  left: 55px;
  height: 34px;
  width: 205px;
}

#background{
  position: absolute;
  top: 120px;
  left: 140px;
  height: 100px;
  width: 82px;
}

#source{
  position: absolute;
  top: 348px;
  left: 102px;
  height: 202px;
  width: 162px;
}

#result{
  position: absolute;
  top: 90px;
  left: 336px;
  height: 568px;
  width: 402px;
  xbackground-color:white;
}

#btn_save{
  border:0;
  position: absolute;
  background-image: url(../images/save.png);
  background-repeat: no-repeat;
  background-size: 100% 100%;
  top: 700px;
  left: 644px;
  height: 25;
  width: 95;
  display:none;
}

#btn_save:hover{
  background-image: url(../images/save_act.png);
}


#result img {
  vertical-align: middle;
  max-width: 100%;
  max-height: 100%;
}

.dropzone {
  xborder: 1px dotted #FFF;
  border-radius: 0px;
  color: white;
  font: bold 24px/200px arial;
  margin: 30px auto;
  text-align: center;
}


.dropzone.hover {
  background-color:#dfe2e7;
  opacity: 0.3;
}

.dropzone.dropped {
  background: #fff;
}

.dropzone div {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}

.dropzone img {
  border-radius: 0px;
  vertical-align: middle;
  max-width: 100%;
  max-height: 100%;
}

.dropzone [type="file"] {
  cursor: pointer;
  position: absolute;
  opacity: 0;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}
